---
import RootLayout from "../../layouts/index.astro";
import books from "../../../public/api/books.json";

interface Book {
    id: string;
    title: string;
    author: string;
    original_author: string;
    illustrator: string;
    img: string;
    type: string;
    genre: string;
    published_vf: number;
    published_vo: number;
    end_publication_vf: number;
    end_publication_vo: number;
    quantite_possede: number;
    volumes_possede: string;
    volumes_total_vo: number;
    volumes_total_vf: number;
    status_vo: string;
    status_vf: string;
    commentaire: string;
}

// Charger les données JSON dans getStaticPaths de manière asynchrone
export async function getStaticPaths() {
    return books.map((book: Book) => ({
        params: {id: book.id},
        props: {book}, // Passe le livre correspondant en tant que prop
    }));
}

// Récupérer les props de getStaticPaths
const {book} = Astro.props;

if (!book) {
    throw new Error("Livre non trouvé.");
}
---

<RootLayout title={book.title}>
    <div class="card-area" style="min-height: 410px;">
        <div class="column1">
            <div class="card-image">
                <figure>
                    <img
                            class="zoom"
                            src={book.img}
                            alt={book.title}
                            title={book.title}
                            loading="lazy"
                    />
                </figure>
            </div>
        </div>
        <div class="column2">
            <div class="card-name mb-3 dark:text-white">
                <h1>{book.title}</h1>
            </div>

            <ul class="card-data-info">
                <li>
                    <span class="card-data-header text-info fw-bold">Auteur</span>
                    <span class="card-data-cost card-data-subheader">
                        <i class="fa-solid fa-book"></i>
                        <a href="#">{book.author}</a>
                    </span>
                </li>
                {
                    book.original_author && (
                                <li>
              <span class="card-data-header text-info fw-bold">
                Histoire Original
              </span>
                                    <span class="card-data-cost card-data-subheader">
                <a href="#"> {book.original_author}</a>
              </span>
                                </li>
                    )
                }
                {
                    book.illustrator && (
                                <li>
              <span class="card-data-header text-info fw-bold">
                Illustrateur
              </span>
                                    <span class="card-data-cost card-data-subheader">
                <a href="#">{book.illustrator}</a>
              </span>
                                </li>
                    )
                }
                <li>
                    <span class="card-data-header text-info fw-bold">Type de Livre</span>
                    <span class="card-data-cost card-data-subheader">
            {book.type}
          </span>
                </li>
                <li>
                    <span class="card-data-header text-info fw-bold">Genre du Livre</span>
                    <span class="card-data-cost card-data-subheader">
            <a href="#">{book.genre}</a>
          </span>
                </li>

                <li>
          <span class="card-data-header text-info fw-bold"
          >Publication Originel</span
          >
                    <span class="card-data-cost card-data-subheader">
            <i class="fa-solid fa-calendar-days"></i>
            <a href="#">{book.published_vo}</a>
          </span>
                </li>
                <li>
          <span class="card-data-header text-info fw-bold"
          >Publication Française</span
          >
                    <span class="card-data-cost card-data-subheader">
            <i class="fa-solid fa-calendar-days"></i>
            <a href="#">{book.published_vf}</a>
          </span>
                </li>
                <li>
          <span class="card-data-header text-info fw-bold"
          >Dernière Publication Originel</span
          >
                    <span class="card-data-cost card-data-subheader">
            <i class="fa-solid fa-calendar-days"></i>
            <a href="#">{book.end_publication_vo}</a>
          </span>
                </li>
                <li>
          <span class="card-data-header text-info fw-bold"
          >Dernière Publication Française</span
          >
                    <span class="card-data-cost card-data-subheader">
            <i class="fa-solid fa-calendar-days"></i>
            <a href="#">{book.end_publication_vf}</a>
          </span>
                </li>
                <li>
          <span class="card-data-header text-info fw-bold"
          >Quantité Possédé</span
          >
                    <span class="card-data-cost card-data-subheader">
            <a href="#">{book.quantite_possede}</a>
          </span>
                </li>

                <li>
          <span class="card-data-header text-info fw-bold">Volumes Possédé</span
          >
                    <span class="card-data-cost card-data-subheader">
            <a href="#">{book.volumes_possede}</a>
          </span>
                </li>
                <li>
          <span class="card-data-header text-info fw-bold"
          >Volumes total sortie en VO</span
          >
                    <span class="card-data-cost card-data-subheader">
            <a href="#">{book.volumes_total_vo}</a>
          </span>
                </li>
                <li>
          <span class="card-data-header text-info fw-bold"
          >Volumes total sortie en VF</span
          >
                    <span class="card-data-cost card-data-subheader">
            <a href="#">{book.volumes_total_vf}</a>
          </span>
                </li>
                <li>
          <span class="card-data-header text-info fw-bold">
            Status des publications en VO</span
          >
                    <span class="card-data-cost card-data-subheader">
            <a href="#">{book.status_vo}</a>
          </span>
                </li>
                <li>
          <span class="card-data-header text-info fw-bold">
            Status des publications en VF</span
          >
                    <span class="card-data-cost card-data-subheader">
            <a href="#">{book.status_vf}</a>
          </span>
                </li>
            </ul>
            {
                book.commentaire && (
                            <div class="dark:text-white my-4">
                                <h4>Petite Note</h4>
                                <div class="card-text"> {book.commentaire}</div>
                            </div>
                )
            }
        </div>
    </div>
</RootLayout>
